nav {
	text-align: center;
	background-image: linear-gradient(red, red);
	/* background-image: linear-gradient(red, red, red, white, white, blue, white, white, red, red, red); */
	padding: 0.1px;
	ul li {
		display: inline;
		padding: 12px;
		background-color: lightcoral;
		color: black;
		font-weight: 800;
	}
	ul li:hover {
		background-color: lightblue;
		color: black;
		opacity: 0.5;
		li {
			opacity: 1;
		}
	}
	a:visited {
		color: purple;
	}
}
